## CASE STUDEY: COUNTRY GDP

In [13]:
import numpy as np
import pandas as pd

In [24]:
dataframe = pd.read_csv('countries of the world.csv', delimiter=',')

In [25]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [81]:
dataframe.dropna()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,"28,2","0,31","-0,04","22,2",4800.0,"93,4","140,1","2,95","0,92","96,13",2,"18,71","4,92","0,04","0,419","0,541"
219,Vietnam,ASIA (EX. NEAR EAST),84402966,329560,"256,1","1,05","-0,45","25,95",2500.0,"90,3","187,7","19,97","5,95","74,08",2,"16,86","6,22","0,209","0,41","0,381"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [82]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

### Convert column to numpy

In [92]:
country_name = np.array(dataframe['Country'].values)

In [93]:
country_name

array(['Afghanistan ', 'Albania ', 'Algeria ', 'American Samoa ',
       'Andorra ', 'Angola ', 'Anguilla ', 'Antigua & Barbuda ',
       'Argentina ', 'Armenia ', 'Aruba ', 'Australia ', 'Austria ',
       'Azerbaijan ', 'Bahamas, The ', 'Bahrain ', 'Bangladesh ',
       'Barbados ', 'Belarus ', 'Belgium ', 'Belize ', 'Benin ',
       'Bermuda ', 'Bhutan ', 'Bolivia ', 'Bosnia & Herzegovina ',
       'Botswana ', 'Brazil ', 'British Virgin Is. ', 'Brunei ',
       'Bulgaria ', 'Burkina Faso ', 'Burma ', 'Burundi ', 'Cambodia ',
       'Cameroon ', 'Canada ', 'Cape Verde ', 'Cayman Islands ',
       'Central African Rep. ', 'Chad ', 'Chile ', 'China ', 'Colombia ',
       'Comoros ', 'Congo, Dem. Rep. ', 'Congo, Repub. of the ',
       'Cook Islands ', 'Costa Rica ', "Cote d'Ivoire ", 'Croatia ',
       'Cuba ', 'Cyprus ', 'Czech Republic ', 'Denmark ', 'Djibouti ',
       'Dominica ', 'Dominican Republic ', 'East Timor ', 'Ecuador ',
       'Egypt ', 'El Salvador ', 'Equatorial Guinea ', 'Eritrea ',
       'Estonia ', 'Ethiopia ', 'Faroe Islands ', 'Fiji ', 'Finland ',
       'France ', 'French Guiana ', 'French Polynesia ', 'Gabon ',
       'Gambia, The ', 'Gaza Strip ', 'Georgia ', 'Germany ', 'Ghana ',
       'Gibraltar ', 'Greece ', 'Greenland ', 'Grenada ', 'Guadeloupe ',
       'Guam ', 'Guatemala ', 'Guernsey ', 'Guinea ', 'Guinea-Bissau ',
       'Guyana ', 'Haiti ', 'Honduras ', 'Hong Kong ', 'Hungary ',
       'Iceland ', 'India ', 'Indonesia ', 'Iran ', 'Iraq ', 'Ireland ',
       'Isle of Man ', 'Israel ', 'Italy ', 'Jamaica ', 'Japan ',
       'Jersey ', 'Jordan ', 'Kazakhstan ', 'Kenya ', 'Kiribati ',
       'Korea, North ', 'Korea, South ', 'Kuwait ', 'Kyrgyzstan ',
       'Laos ', 'Latvia ', 'Lebanon ', 'Lesotho ', 'Liberia ', 'Libya ',
       'Liechtenstein ', 'Lithuania ', 'Luxembourg ', 'Macau ',
       'Macedonia ', 'Madagascar ', 'Malawi ', 'Malaysia ', 'Maldives ',
       'Mali ', 'Malta ', 'Marshall Islands ', 'Martinique ',
       'Mauritania ', 'Mauritius ', 'Mayotte ', 'Mexico ',
       'Micronesia, Fed. St. ', 'Moldova ', 'Monaco ', 'Mongolia ',
       'Montserrat ', 'Morocco ', 'Mozambique ', 'Namibia ', 'Nauru ',
       'Nepal ', 'Netherlands ', 'Netherlands Antilles ',
       'New Caledonia ', 'New Zealand ', 'Nicaragua ', 'Niger ',
       'Nigeria ', 'N. Mariana Islands ', 'Norway ', 'Oman ', 'Pakistan ',
       'Palau ', 'Panama ', 'Papua New Guinea ', 'Paraguay ', 'Peru ',
       'Philippines ', 'Poland ', 'Portugal ', 'Puerto Rico ', 'Qatar ',
       'Reunion ', 'Romania ', 'Russia ', 'Rwanda ', 'Saint Helena ',
       'Saint Kitts & Nevis ', 'Saint Lucia ', 'St Pierre & Miquelon ',
       'Saint Vincent and the Grenadines ', 'Samoa ', 'San Marino ',
       'Sao Tome & Principe ', 'Saudi Arabia ', 'Senegal ', 'Serbia ',
       'Seychelles ', 'Sierra Leone ', 'Singapore ', 'Slovakia ',
       'Slovenia ', 'Solomon Islands ', 'Somalia ', 'South Africa ',
       'Spain ', 'Sri Lanka ', 'Sudan ', 'Suriname ', 'Swaziland ',
       'Sweden ', 'Switzerland ', 'Syria ', 'Taiwan ', 'Tajikistan ',
       'Tanzania ', 'Thailand ', 'Togo ', 'Tonga ', 'Trinidad & Tobago ',
       'Tunisia ', 'Turkey ', 'Turkmenistan ', 'Turks & Caicos Is ',
       'Tuvalu ', 'Uganda ', 'Ukraine ', 'United Arab Emirates ',
       'United Kingdom ', 'United States ', 'Uruguay ', 'Uzbekistan ',
       'Vanuatu ', 'Venezuela ', 'Vietnam ', 'Virgin Islands ',
       'Wallis and Futuna ', 'West Bank ', 'Western Sahara ', 'Yemen ',
       'Zambia ', 'Zimbabwe '], dtype=object)

In [100]:
dataframe['GDP ($ per capita)'] = dataframe['GDP ($ per capita)'].fillna(0)

In [101]:
GDP = np.array(dataframe['GDP ($ per capita)'].values)

In [102]:
GDP

array([  700.,  4500.,  6000.,  8000., 19000.,  1900.,  8600., 11000.,
       11200.,  3500., 28000., 29000., 30000.,  3400., 16700., 16900.,
        1900., 15700.,  6100., 29100.,  4900.,  1100., 36000.,  1300.,
        2400.,  6100.,  9000.,  7600., 16000., 18600.,  7600.,  1100.,
        1800.,   600.,  1900.,  1800., 29800.,  1400., 35000.,  1100.,
        1200.,  9900.,  5000.,  6300.,   700.,   700.,   700.,  5000.,
        9100.,  1400., 10600.,  2900., 19200., 15700., 31100.,  1300.,
        5400.,  6000.,   500.,  3300.,  4000.,  4800.,  2700.,   700.,
       12300.,   700., 22000.,  5800., 27400., 27600.,  8300., 17500.,
        5500.,  1700.,   600.,  2500., 27600.,  2200., 17500., 20000.,
       20000.,  5000.,  8000., 21000.,  4100., 20000.,  2100.,   800.,
        4000.,  1600.,  2600., 28800., 13900., 30900.,  2900.,  3200.,
        7000.,  1500., 29600., 21000., 19800., 26700.,  3900., 28200.,
       24800.,  4300.,  6300.,  1000.,   800.,  1300., 17800., 19000.,
        1600.,  1700., 10200.,  4800.,  3000.,  1000.,  6400., 25000.,
       11400., 55100., 19400.,  6700.,   800.,   600.,  9000.,  3900.,
         900., 17700.,  1600., 14400.,  1800., 11400.,  2600.,  9000.,
        2000.,  1800., 27000.,  1800.,  3400.,  4000.,  1200.,  7200.,
        5000.,  1400., 28600., 11400., 15000., 21600.,  2300.,   800.,
         900., 12500., 37800., 13100.,  2100.,  9000.,  6300.,  2200.,
        4700.,  5100.,  4600., 11100., 18000., 16800., 21500.,  5800.,
        7000.,  8900.,  1300.,  2500.,  8800.,  5400.,  6900.,  2900.,
        5600., 34600.,  1200., 11800.,  1600.,  2200.,  7800.,   500.,
       23700., 13300., 19000.,  1700.,   500., 10700., 22000.,  3700.,
        1900.,  4000.,  4900., 26800., 32700.,  3300., 23400.,  1000.,
         600.,  7400.,  1500.,  2200.,  9500.,  6900.,  6700.,  5800.,
        9600.,  1100.,  1400.,  5400., 23200., 27700., 37800., 12800.,
        1700.,  2900.,  4800.,  2500., 17200.,  3700.,   800.,     0.,
         800.,   800.,  1900.])

### 1. Find and print the name of the country with the highest GDP.

In [103]:
print(country_name)
print(GDP)

['Afghanistan ' 'Albania ' 'Algeria ' 'American Samoa ' 'Andorra '
 'Angola ' 'Anguilla ' 'Antigua & Barbuda ' 'Argentina ' 'Armenia '
 'Aruba ' 'Australia ' 'Austria ' 'Azerbaijan ' 'Bahamas, The ' 'Bahrain '
 'Bangladesh ' 'Barbados ' 'Belarus ' 'Belgium ' 'Belize ' 'Benin '
 'Bermuda ' 'Bhutan ' 'Bolivia ' 'Bosnia & Herzegovina ' 'Botswana '
 'Brazil ' 'British Virgin Is. ' 'Brunei ' 'Bulgaria ' 'Burkina Faso '
 'Burma ' 'Burundi ' 'Cambodia ' 'Cameroon ' 'Canada ' 'Cape Verde '
 'Cayman Islands ' 'Central African Rep. ' 'Chad ' 'Chile ' 'China '
 'Colombia ' 'Comoros ' 'Congo, Dem. Rep. ' 'Congo, Repub. of the '
 'Cook Islands ' 'Costa Rica ' "Cote d'Ivoire " 'Croatia ' 'Cuba '
 'Cyprus ' 'Czech Republic ' 'Denmark ' 'Djibouti ' 'Dominica '
 'Dominican Republic ' 'East Timor ' 'Ecuador ' 'Egypt ' 'El Salvador '
 'Equatorial Guinea ' 'Eritrea ' 'Estonia ' 'Ethiopia ' 'Faroe Islands '
 'Fiji ' 'Finland ' 'France ' 'French Guiana ' 'French Polynesia '
 'Gabon ' 'Gambia, The ' 'Gaza Strip ' 'Georgia ' 'Germany ' 'Ghana '
 'Gibraltar ' 'Greece ' 'Greenland ' 'Grenada ' 'Guadeloupe ' 'Guam '
 'Guatemala ' 'Guernsey ' 'Guinea ' 'Guinea-Bissau ' 'Guyana ' 'Haiti '
 'Honduras ' 'Hong Kong ' 'Hungary ' 'Iceland ' 'India ' 'Indonesia '
 'Iran ' 'Iraq ' 'Ireland ' 'Isle of Man ' 'Israel ' 'Italy ' 'Jamaica '
 'Japan ' 'Jersey ' 'Jordan ' 'Kazakhstan ' 'Kenya ' 'Kiribati '
 'Korea, North ' 'Korea, South ' 'Kuwait ' 'Kyrgyzstan ' 'Laos ' 'Latvia '
 'Lebanon ' 'Lesotho ' 'Liberia ' 'Libya ' 'Liechtenstein ' 'Lithuania '
 'Luxembourg ' 'Macau ' 'Macedonia ' 'Madagascar ' 'Malawi ' 'Malaysia '
 'Maldives ' 'Mali ' 'Malta ' 'Marshall Islands ' 'Martinique '
 'Mauritania ' 'Mauritius ' 'Mayotte ' 'Mexico ' 'Micronesia, Fed. St. '
 'Moldova ' 'Monaco ' 'Mongolia ' 'Montserrat ' 'Morocco ' 'Mozambique '
 'Namibia ' 'Nauru ' 'Nepal ' 'Netherlands ' 'Netherlands Antilles '
 'New Caledonia ' 'New Zealand ' 'Nicaragua ' 'Niger ' 'Nigeria '
 'N. Mariana Islands ' 'Norway ' 'Oman ' 'Pakistan ' 'Palau ' 'Panama '
 'Papua New Guinea ' 'Paraguay ' 'Peru ' 'Philippines ' 'Poland '
 'Portugal ' 'Puerto Rico ' 'Qatar ' 'Reunion ' 'Romania ' 'Russia '
 'Rwanda ' 'Saint Helena ' 'Saint Kitts & Nevis ' 'Saint Lucia '
 'St Pierre & Miquelon ' 'Saint Vincent and the Grenadines ' 'Samoa '
 'San Marino ' 'Sao Tome & Principe ' 'Saudi Arabia ' 'Senegal ' 'Serbia '
 'Seychelles ' 'Sierra Leone ' 'Singapore ' 'Slovakia ' 'Slovenia '
 'Solomon Islands ' 'Somalia ' 'South Africa ' 'Spain ' 'Sri Lanka '
 'Sudan ' 'Suriname ' 'Swaziland ' 'Sweden ' 'Switzerland ' 'Syria '
 'Taiwan ' 'Tajikistan ' 'Tanzania ' 'Thailand ' 'Togo ' 'Tonga '
 'Trinidad & Tobago ' 'Tunisia ' 'Turkey ' 'Turkmenistan '
 'Turks & Caicos Is ' 'Tuvalu ' 'Uganda ' 'Ukraine '
 'United Arab Emirates ' 'United Kingdom ' 'United States ' 'Uruguay '
 'Uzbekistan ' 'Vanuatu ' 'Venezuela ' 'Vietnam ' 'Virgin Islands '
 'Wallis and Futuna ' 'West Bank ' 'Western Sahara ' 'Yemen ' 'Zambia '
 'Zimbabwe ']
[  700.  4500.  6000.  8000. 19000.  1900.  8600. 11000. 11200.  3500.
 28000. 29000. 30000.  3400. 16700. 16900.  1900. 15700.  6100. 29100.
  4900.  1100. 36000.  1300.  2400.  6100.  9000.  7600. 16000. 18600.
  7600.  1100.  1800.   600.  1900.  1800. 29800.  1400. 35000.  1100.
  1200.  9900.  5000.  6300.   700.   700.   700.  5000.  9100.  1400.
 10600.  2900. 19200. 15700. 31100.  1300.  5400.  6000.   500.  3300.
  4000.  4800.  2700.   700. 12300.   700. 22000.  5800. 27400. 27600.
  8300. 17500.  5500.  1700.   600.  2500. 27600.  2200. 17500. 20000.
 20000.  5000.  8000. 21000.  4100. 20000.  2100.   800.  4000.  1600.
  2600. 28800. 13900. 30900.  2900.  3200.  7000.  1500. 29600. 21000.
 19800. 26700.  3900. 28200. 24800.  4300.  6300.  1000.   800.  1300.
 17800. 19000.  1600.  1700. 10200.  4800.  3000.  1000.  6400. 25000.
 11400. 55100. 19400.  6700.   800.   600.  9000.  3900.   900. 17700.
  1600. 14400.  1800. 11400.  2600.  9000.  2000.  1800. 27000.  1800.
  3400.  4000.  1200.  7200.  5000.  1400. 28600. 11400. 15000. 21600.
  2300.   800.   900. 12500. 37800. 13100.  2100.  9000.  6300.  2200.
  4700.  5100.  4600. 11100. 18000. 16800. 21500.  5800.  7000.  8900.
  1300.  2500.  8800.  5400.  6900.  2900.  5600. 34600.  1200. 11800.
  1600.  2200.  7800.   500. 23700. 13300. 19000.  1700.   500. 10700.
 22000.  3700.  1900.  4000.  4900. 26800. 32700.  3300. 23400.  1000.
   600.  7400.  1500.  2200.  9500.  6900.  6700.  5800.  9600.  1100.
  1400.  5400. 23200. 27700. 37800. 12800.  1700.  2900.  4800.  2500.
 17200.  3700.   800.     0.   800.   800.  1900.]

In [111]:
max_gdp = GDP.argmax()

In [112]:
country_name_max_gdp = country_name[max_gdp]

In [113]:
country_name_max_gdp

'Luxembourg '

### 2. Find and print the name of the country with the lowest GDP.

In [114]:
min_gdp = GDP.argmin()

In [115]:
country_name_min_gdp = country_name[min_gdp]

In [117]:
country_name_min_gdp

'Western Sahara '

### 3. Print out text and input values iteratively.

In [122]:
for counter in range(len(country_name)):
    print("Country {}".format(country_name[counter]))

Country Afghanistan
Country Albania
Country Algeria
Country American Samoa
Country Andorra
Country Angola
Country Anguilla
Country Antigua & Barbuda
Country Argentina
Country Armenia
Country Aruba
Country Australia
Country Austria
Country Azerbaijan
Country Bahamas, The
Country Bahrain
Country Bangladesh
Country Barbados
Country Belarus
Country Belgium
Country Belize
Country Benin
Country Bermuda
Country Bhutan
Country Bolivia
Country Bosnia & Herzegovina
Country Botswana
Country Brazil
Country British Virgin Is.
Country Brunei
Country Bulgaria
Country Burkina Faso
Country Burma
Country Burundi
Country Cambodia
Country Cameroon
Country Canada
Country Cape Verde
Country Cayman Islands
Country Central African Rep.
Country Chad
Country Chile
Country China
Country Colombia
Country Comoros
Country Congo, Dem. Rep.
Country Congo, Repub. of the
Country Cook Islands
Country Costa Rica
Country Cote d'Ivoire
Country Croatia
Country Cuba
Country Cyprus
Country Czech Republic
Country Denmark
Country Djibouti
Country Dominica
Country Dominican Republic
Country East Timor
Country Ecuador
Country Egypt
Country El Salvador
Country Equatorial Guinea
Country Eritrea
Country Estonia
Country Ethiopia
Country Faroe Islands
Country Fiji
Country Finland
Country France
Country French Guiana
Country French Polynesia
Country Gabon
Country Gambia, The
Country Gaza Strip
Country Georgia
Country Germany
Country Ghana
Country Gibraltar
Country Greece
Country Greenland
Country Grenada
Country Guadeloupe
Country Guam
Country Guatemala
Country Guernsey
Country Guinea
Country Guinea-Bissau
Country Guyana
Country Haiti
Country Honduras
Country Hong Kong
Country Hungary
Country Iceland
Country India
Country Indonesia
Country Iran
Country Iraq
Country Ireland
Country Isle of Man
Country Israel
Country Italy
Country Jamaica
Country Japan
Country Jersey
Country Jordan
Country Kazakhstan
Country Kenya
Country Kiribati
Country Korea, North
Country Korea, South
Country Kuwait
Country Kyrgyzstan
Country Laos
Country Latvia
Country Lebanon
Country Lesotho
Country Liberia
Country Libya
Country Liechtenstein
Country Lithuania
Country Luxembourg
Country Macau
Country Macedonia
Country Madagascar
Country Malawi
Country Malaysia
Country Maldives
Country Mali
Country Malta
Country Marshall Islands
Country Martinique
Country Mauritania
Country Mauritius
Country Mayotte
Country Mexico
Country Micronesia, Fed. St.
Country Moldova
Country Monaco
Country Mongolia
Country Montserrat
Country Morocco
Country Mozambique
Country Namibia
Country Nauru
Country Nepal
Country Netherlands
Country Netherlands Antilles
Country New Caledonia
Country New Zealand
Country Nicaragua
Country Niger
Country Nigeria
Country N. Mariana Islands
Country Norway
Country Oman
Country Pakistan
Country Palau
Country Panama
Country Papua New Guinea
Country Paraguay
Country Peru
Country Philippines
Country Poland
Country Portugal
Country Puerto Rico
Country Qatar
Country Reunion
Country Romania
Country Russia
Country Rwanda
Country Saint Helena
Country Saint Kitts & Nevis
Country Saint Lucia
Country St Pierre & Miquelon
Country Saint Vincent and the Grenadines
Country Samoa
Country San Marino
Country Sao Tome & Principe
Country Saudi Arabia
Country Senegal
Country Serbia
Country Seychelles
Country Sierra Leone
Country Singapore
Country Slovakia
Country Slovenia
Country Solomon Islands
Country Somalia
Country South Africa
Country Spain
Country Sri Lanka
Country Sudan
Country Suriname
Country Swaziland
Country Sweden
Country Switzerland
Country Syria
Country Taiwan
Country Tajikistan
Country Tanzania
Country Thailand
Country Togo
Country Tonga
Country Trinidad & Tobago
Country Tunisia
Country Turkey
Country Turkmenistan
Country Turks & Caicos Is
Country Tuvalu
Country Uganda
Country Ukraine
Country United Arab Emirates
Country United Kingdom
Country United States
Country Uruguay
Country Uzbekistan
Country Vanuatu
Country Venezuela
Country Vietnam
Country Virgin Islands
Country Wallis and Futuna
Country West Bank
Country Western Sahara
Country Yemen
Country Zambia
Country Zimbabwe

In [124]:
for counter in range(len(country_name)):
    print("gdp per capita is {}".format(GDP[counter]))

gdp per capita is 700.0
gdp per capita is 4500.0
gdp per capita is 6000.0
gdp per capita is 8000.0
gdp per capita is 19000.0
gdp per capita is 1900.0
gdp per capita is 8600.0
gdp per capita is 11000.0
gdp per capita is 11200.0
gdp per capita is 3500.0
gdp per capita is 28000.0
gdp per capita is 29000.0
gdp per capita is 30000.0
gdp per capita is 3400.0
gdp per capita is 16700.0
gdp per capita is 16900.0
gdp per capita is 1900.0
gdp per capita is 15700.0
gdp per capita is 6100.0
gdp per capita is 29100.0
gdp per capita is 4900.0
gdp per capita is 1100.0
gdp per capita is 36000.0
gdp per capita is 1300.0
gdp per capita is 2400.0
gdp per capita is 6100.0
gdp per capita is 9000.0
gdp per capita is 7600.0
gdp per capita is 16000.0
gdp per capita is 18600.0
gdp per capita is 7600.0
gdp per capita is 1100.0
gdp per capita is 1800.0
gdp per capita is 600.0
gdp per capita is 1900.0
gdp per capita is 1800.0
gdp per capita is 29800.0
gdp per capita is 1400.0
gdp per capita is 35000.0
gdp per capita is 1100.0
gdp per capita is 1200.0
gdp per capita is 9900.0
gdp per capita is 5000.0
gdp per capita is 6300.0
gdp per capita is 700.0
gdp per capita is 700.0
gdp per capita is 700.0
gdp per capita is 5000.0
gdp per capita is 9100.0
gdp per capita is 1400.0
gdp per capita is 10600.0
gdp per capita is 2900.0
gdp per capita is 19200.0
gdp per capita is 15700.0
gdp per capita is 31100.0
gdp per capita is 1300.0
gdp per capita is 5400.0
gdp per capita is 6000.0
gdp per capita is 500.0
gdp per capita is 3300.0
gdp per capita is 4000.0
gdp per capita is 4800.0
gdp per capita is 2700.0
gdp per capita is 700.0
gdp per capita is 12300.0
gdp per capita is 700.0
gdp per capita is 22000.0
gdp per capita is 5800.0
gdp per capita is 27400.0
gdp per capita is 27600.0
gdp per capita is 8300.0
gdp per capita is 17500.0
gdp per capita is 5500.0
gdp per capita is 1700.0
gdp per capita is 600.0
gdp per capita is 2500.0
gdp per capita is 27600.0
gdp per capita is 2200.0
gdp per capita is 17500.0
gdp per capita is 20000.0
gdp per capita is 20000.0
gdp per capita is 5000.0
gdp per capita is 8000.0
gdp per capita is 21000.0
gdp per capita is 4100.0
gdp per capita is 20000.0
gdp per capita is 2100.0
gdp per capita is 800.0
gdp per capita is 4000.0
gdp per capita is 1600.0
gdp per capita is 2600.0
gdp per capita is 28800.0
gdp per capita is 13900.0
gdp per capita is 30900.0
gdp per capita is 2900.0
gdp per capita is 3200.0
gdp per capita is 7000.0
gdp per capita is 1500.0
gdp per capita is 29600.0
gdp per capita is 21000.0
gdp per capita is 19800.0
gdp per capita is 26700.0
gdp per capita is 3900.0
gdp per capita is 28200.0
gdp per capita is 24800.0
gdp per capita is 4300.0
gdp per capita is 6300.0
gdp per capita is 1000.0
gdp per capita is 800.0
gdp per capita is 1300.0
gdp per capita is 17800.0
gdp per capita is 19000.0
gdp per capita is 1600.0
gdp per capita is 1700.0
gdp per capita is 10200.0
gdp per capita is 4800.0
gdp per capita is 3000.0
gdp per capita is 1000.0
gdp per capita is 6400.0
gdp per capita is 25000.0
gdp per capita is 11400.0
gdp per capita is 55100.0
gdp per capita is 19400.0
gdp per capita is 6700.0
gdp per capita is 800.0
gdp per capita is 600.0
gdp per capita is 9000.0
gdp per capita is 3900.0
gdp per capita is 900.0
gdp per capita is 17700.0
gdp per capita is 1600.0
gdp per capita is 14400.0
gdp per capita is 1800.0
gdp per capita is 11400.0
gdp per capita is 2600.0
gdp per capita is 9000.0
gdp per capita is 2000.0
gdp per capita is 1800.0
gdp per capita is 27000.0
gdp per capita is 1800.0
gdp per capita is 3400.0
gdp per capita is 4000.0
gdp per capita is 1200.0
gdp per capita is 7200.0
gdp per capita is 5000.0
gdp per capita is 1400.0
gdp per capita is 28600.0
gdp per capita is 11400.0
gdp per capita is 15000.0
gdp per capita is 21600.0
gdp per capita is 2300.0
gdp per capita is 800.0
gdp per capita is 900.0
gdp per capita is 12500.0
gdp per capita is 37800.0
gdp per capita is 13100.0
gdp per capita is 2100.0
gdp per capita is 9000.0
gdp per capita is 6300.0
gdp per capita is 2200.0
gdp per capita is 4700.0
gdp per capita is 5100.0
gdp per capita is 4600.0
gdp per capita is 11100.0
gdp per capita is 18000.0
gdp per capita is 16800.0
gdp per capita is 21500.0
gdp per capita is 5800.0
gdp per capita is 7000.0
gdp per capita is 8900.0
gdp per capita is 1300.0
gdp per capita is 2500.0
gdp per capita is 8800.0
gdp per capita is 5400.0
gdp per capita is 6900.0
gdp per capita is 2900.0
gdp per capita is 5600.0
gdp per capita is 34600.0
gdp per capita is 1200.0
gdp per capita is 11800.0
gdp per capita is 1600.0
gdp per capita is 2200.0
gdp per capita is 7800.0
gdp per capita is 500.0
gdp per capita is 23700.0
gdp per capita is 13300.0
gdp per capita is 19000.0
gdp per capita is 1700.0
gdp per capita is 500.0
gdp per capita is 10700.0
gdp per capita is 22000.0
gdp per capita is 3700.0
gdp per capita is 1900.0
gdp per capita is 4000.0
gdp per capita is 4900.0
gdp per capita is 26800.0
gdp per capita is 32700.0
gdp per capita is 3300.0
gdp per capita is 23400.0
gdp per capita is 1000.0
gdp per capita is 600.0
gdp per capita is 7400.0
gdp per capita is 1500.0
gdp per capita is 2200.0
gdp per capita is 9500.0
gdp per capita is 6900.0
gdp per capita is 6700.0
gdp per capita is 5800.0
gdp per capita is 9600.0
gdp per capita is 1100.0
gdp per capita is 1400.0
gdp per capita is 5400.0
gdp per capita is 23200.0
gdp per capita is 27700.0
gdp per capita is 37800.0
gdp per capita is 12800.0
gdp per capita is 1700.0
gdp per capita is 2900.0
gdp per capita is 4800.0
gdp per capita is 2500.0
gdp per capita is 17200.0
gdp per capita is 3700.0
gdp per capita is 800.0
gdp per capita is 0.0
gdp per capita is 800.0
gdp per capita is 800.0
gdp per capita is 1900.0

### 4. Print out the entire list of the countries with their GDPs.

In [125]:
for counter in range(len(country_name)):
    print("Country {} gdp per capita is {}".format(country_name[counter],GDP[counter]))

Country Afghanistan  gdp per capita is 700.0
Country Albania  gdp per capita is 4500.0
Country Algeria  gdp per capita is 6000.0
Country American Samoa  gdp per capita is 8000.0
Country Andorra  gdp per capita is 19000.0
Country Angola  gdp per capita is 1900.0
Country Anguilla  gdp per capita is 8600.0
Country Antigua & Barbuda  gdp per capita is 11000.0
Country Argentina  gdp per capita is 11200.0
Country Armenia  gdp per capita is 3500.0
Country Aruba  gdp per capita is 28000.0
Country Australia  gdp per capita is 29000.0
Country Austria  gdp per capita is 30000.0
Country Azerbaijan  gdp per capita is 3400.0
Country Bahamas, The  gdp per capita is 16700.0
Country Bahrain  gdp per capita is 16900.0
Country Bangladesh  gdp per capita is 1900.0
Country Barbados  gdp per capita is 15700.0
Country Belarus  gdp per capita is 6100.0
Country Belgium  gdp per capita is 29100.0
Country Belize  gdp per capita is 4900.0
Country Benin  gdp per capita is 1100.0
Country Bermuda  gdp per capita is 36000.0
Country Bhutan  gdp per capita is 1300.0
Country Bolivia  gdp per capita is 2400.0
Country Bosnia & Herzegovina  gdp per capita is 6100.0
Country Botswana  gdp per capita is 9000.0
Country Brazil  gdp per capita is 7600.0
Country British Virgin Is.  gdp per capita is 16000.0
Country Brunei  gdp per capita is 18600.0
Country Bulgaria  gdp per capita is 7600.0
Country Burkina Faso  gdp per capita is 1100.0
Country Burma  gdp per capita is 1800.0
Country Burundi  gdp per capita is 600.0
Country Cambodia  gdp per capita is 1900.0
Country Cameroon  gdp per capita is 1800.0
Country Canada  gdp per capita is 29800.0
Country Cape Verde  gdp per capita is 1400.0
Country Cayman Islands  gdp per capita is 35000.0
Country Central African Rep.  gdp per capita is 1100.0
Country Chad  gdp per capita is 1200.0
Country Chile  gdp per capita is 9900.0
Country China  gdp per capita is 5000.0
Country Colombia  gdp per capita is 6300.0
Country Comoros  gdp per capita is 700.0
Country Congo, Dem. Rep.  gdp per capita is 700.0
Country Congo, Repub. of the  gdp per capita is 700.0
Country Cook Islands  gdp per capita is 5000.0
Country Costa Rica  gdp per capita is 9100.0
Country Cote d'Ivoire  gdp per capita is 1400.0
Country Croatia  gdp per capita is 10600.0
Country Cuba  gdp per capita is 2900.0
Country Cyprus  gdp per capita is 19200.0
Country Czech Republic  gdp per capita is 15700.0
Country Denmark  gdp per capita is 31100.0
Country Djibouti  gdp per capita is 1300.0
Country Dominica  gdp per capita is 5400.0
Country Dominican Republic  gdp per capita is 6000.0
Country East Timor  gdp per capita is 500.0
Country Ecuador  gdp per capita is 3300.0
Country Egypt  gdp per capita is 4000.0
Country El Salvador  gdp per capita is 4800.0
Country Equatorial Guinea  gdp per capita is 2700.0
Country Eritrea  gdp per capita is 700.0
Country Estonia  gdp per capita is 12300.0
Country Ethiopia  gdp per capita is 700.0
Country Faroe Islands  gdp per capita is 22000.0
Country Fiji  gdp per capita is 5800.0
Country Finland  gdp per capita is 27400.0
Country France  gdp per capita is 27600.0
Country French Guiana  gdp per capita is 8300.0
Country French Polynesia  gdp per capita is 17500.0
Country Gabon  gdp per capita is 5500.0
Country Gambia, The  gdp per capita is 1700.0
Country Gaza Strip  gdp per capita is 600.0
Country Georgia  gdp per capita is 2500.0
Country Germany  gdp per capita is 27600.0
Country Ghana  gdp per capita is 2200.0
Country Gibraltar  gdp per capita is 17500.0
Country Greece  gdp per capita is 20000.0
Country Greenland  gdp per capita is 20000.0
Country Grenada  gdp per capita is 5000.0
Country Guadeloupe  gdp per capita is 8000.0
Country Guam  gdp per capita is 21000.0
Country Guatemala  gdp per capita is 4100.0
Country Guernsey  gdp per capita is 20000.0
Country Guinea  gdp per capita is 2100.0
Country Guinea-Bissau  gdp per capita is 800.0
Country Guyana  gdp per capita is 4000.0
Country Haiti  gdp per capita is 1600.0
Country Honduras  gdp per capita is 2600.0
Country Hong Kong  gdp per capita is 28800.0
Country Hungary  gdp per capita is 13900.0
Country Iceland  gdp per capita is 30900.0
Country India  gdp per capita is 2900.0
Country Indonesia  gdp per capita is 3200.0
Country Iran  gdp per capita is 7000.0
Country Iraq  gdp per capita is 1500.0
Country Ireland  gdp per capita is 29600.0
Country Isle of Man  gdp per capita is 21000.0
Country Israel  gdp per capita is 19800.0
Country Italy  gdp per capita is 26700.0
Country Jamaica  gdp per capita is 3900.0
Country Japan  gdp per capita is 28200.0
Country Jersey  gdp per capita is 24800.0
Country Jordan  gdp per capita is 4300.0
Country Kazakhstan  gdp per capita is 6300.0
Country Kenya  gdp per capita is 1000.0
Country Kiribati  gdp per capita is 800.0
Country Korea, North  gdp per capita is 1300.0
Country Korea, South  gdp per capita is 17800.0
Country Kuwait  gdp per capita is 19000.0
Country Kyrgyzstan  gdp per capita is 1600.0
Country Laos  gdp per capita is 1700.0
Country Latvia  gdp per capita is 10200.0
Country Lebanon  gdp per capita is 4800.0
Country Lesotho  gdp per capita is 3000.0
Country Liberia  gdp per capita is 1000.0
Country Libya  gdp per capita is 6400.0
Country Liechtenstein  gdp per capita is 25000.0
Country Lithuania  gdp per capita is 11400.0
Country Luxembourg  gdp per capita is 55100.0
Country Macau  gdp per capita is 19400.0
Country Macedonia  gdp per capita is 6700.0
Country Madagascar  gdp per capita is 800.0
Country Malawi  gdp per capita is 600.0
Country Malaysia  gdp per capita is 9000.0
Country Maldives  gdp per capita is 3900.0
Country Mali  gdp per capita is 900.0
Country Malta  gdp per capita is 17700.0
Country Marshall Islands  gdp per capita is 1600.0
Country Martinique  gdp per capita is 14400.0
Country Mauritania  gdp per capita is 1800.0
Country Mauritius  gdp per capita is 11400.0
Country Mayotte  gdp per capita is 2600.0
Country Mexico  gdp per capita is 9000.0
Country Micronesia, Fed. St.  gdp per capita is 2000.0
Country Moldova  gdp per capita is 1800.0
Country Monaco  gdp per capita is 27000.0
Country Mongolia  gdp per capita is 1800.0
Country Montserrat  gdp per capita is 3400.0
Country Morocco  gdp per capita is 4000.0
Country Mozambique  gdp per capita is 1200.0
Country Namibia  gdp per capita is 7200.0
Country Nauru  gdp per capita is 5000.0
Country Nepal  gdp per capita is 1400.0
Country Netherlands  gdp per capita is 28600.0
Country Netherlands Antilles  gdp per capita is 11400.0
Country New Caledonia  gdp per capita is 15000.0
Country New Zealand  gdp per capita is 21600.0
Country Nicaragua  gdp per capita is 2300.0
Country Niger  gdp per capita is 800.0
Country Nigeria  gdp per capita is 900.0
Country N. Mariana Islands  gdp per capita is 12500.0
Country Norway  gdp per capita is 37800.0
Country Oman  gdp per capita is 13100.0
Country Pakistan  gdp per capita is 2100.0
Country Palau  gdp per capita is 9000.0
Country Panama  gdp per capita is 6300.0
Country Papua New Guinea  gdp per capita is 2200.0
Country Paraguay  gdp per capita is 4700.0
Country Peru  gdp per capita is 5100.0
Country Philippines  gdp per capita is 4600.0
Country Poland  gdp per capita is 11100.0
Country Portugal  gdp per capita is 18000.0
Country Puerto Rico  gdp per capita is 16800.0
Country Qatar  gdp per capita is 21500.0
Country Reunion  gdp per capita is 5800.0
Country Romania  gdp per capita is 7000.0
Country Russia  gdp per capita is 8900.0
Country Rwanda  gdp per capita is 1300.0
Country Saint Helena  gdp per capita is 2500.0
Country Saint Kitts & Nevis  gdp per capita is 8800.0
Country Saint Lucia  gdp per capita is 5400.0
Country St Pierre & Miquelon  gdp per capita is 6900.0
Country Saint Vincent and the Grenadines  gdp per capita is 2900.0
Country Samoa  gdp per capita is 5600.0
Country San Marino  gdp per capita is 34600.0
Country Sao Tome & Principe  gdp per capita is 1200.0
Country Saudi Arabia  gdp per capita is 11800.0
Country Senegal  gdp per capita is 1600.0
Country Serbia  gdp per capita is 2200.0
Country Seychelles  gdp per capita is 7800.0
Country Sierra Leone  gdp per capita is 500.0
Country Singapore  gdp per capita is 23700.0
Country Slovakia  gdp per capita is 13300.0
Country Slovenia  gdp per capita is 19000.0
Country Solomon Islands  gdp per capita is 1700.0
Country Somalia  gdp per capita is 500.0
Country South Africa  gdp per capita is 10700.0
Country Spain  gdp per capita is 22000.0
Country Sri Lanka  gdp per capita is 3700.0
Country Sudan  gdp per capita is 1900.0
Country Suriname  gdp per capita is 4000.0
Country Swaziland  gdp per capita is 4900.0
Country Sweden  gdp per capita is 26800.0
Country Switzerland  gdp per capita is 32700.0
Country Syria  gdp per capita is 3300.0
Country Taiwan  gdp per capita is 23400.0
Country Tajikistan  gdp per capita is 1000.0
Country Tanzania  gdp per capita is 600.0
Country Thailand  gdp per capita is 7400.0
Country Togo  gdp per capita is 1500.0
Country Tonga  gdp per capita is 2200.0
Country Trinidad & Tobago  gdp per capita is 9500.0
Country Tunisia  gdp per capita is 6900.0
Country Turkey  gdp per capita is 6700.0
Country Turkmenistan  gdp per capita is 5800.0
Country Turks & Caicos Is  gdp per capita is 9600.0
Country Tuvalu  gdp per capita is 1100.0
Country Uganda  gdp per capita is 1400.0
Country Ukraine  gdp per capita is 5400.0
Country United Arab Emirates  gdp per capita is 23200.0
Country United Kingdom  gdp per capita is 27700.0
Country United States  gdp per capita is 37800.0
Country Uruguay  gdp per capita is 12800.0
Country Uzbekistan  gdp per capita is 1700.0
Country Vanuatu  gdp per capita is 2900.0
Country Venezuela  gdp per capita is 4800.0
Country Vietnam  gdp per capita is 2500.0
Country Virgin Islands  gdp per capita is 17200.0
Country Wallis and Futuna  gdp per capita is 3700.0
Country West Bank  gdp per capita is 800.0
Country Western Sahara  gdp per capita is 0.0
Country Yemen  gdp per capita is 800.0
Country Zambia  gdp per capita is 800.0
Country Zimbabwe  gdp per capita is 1900.0

### 5. Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs.

In [127]:
max_GDP_per_capita_value = GDP.max()

In [130]:
print("Highest GDP value: ", max_GDP_per_capita_value)

Highest GDP value:  55100.0

In [131]:
min_GDP_per_capita_value = GDP.min()

In [132]:
print("Lowest GDP value: ", min_GDP_per_capita_value)

Lowest GDP value:  0.0

In [133]:
standard_GDP_value = GDP.std()

In [134]:
print("Standard GDP Value: ", standard_GDP_value)

Standard GDP Value:  10025.330394056082

In [136]:
print("Sum of all GDP's :",sum_GDP)

Sum of all GDP's : 2189900.0